<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="nav">
        <a href="{{ url_for('main.home') }}">Home</a> |
        <a href="{{ url_for('main.about') }}">About</a>
    </nav>

    <hr>

    <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        <!-- Creates an unordered list for all messages.
        Loops over each tuple (category, message) in messages. -->
        {% for category, message in messages %}
          <!-- class="{{ category }}" assigns the category as a CSS class.
          Example: class="error" or class="success"
          Lets you style messages differently in CSS (.error { color:red; })
          {{ message }} prints the text of the message. -->
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    </main>
    
</body>
</html>