{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
  
  <form method="post" action="{{ url_for('main.home') }}">
    <input type="text" name="name" placeholder="Your name">
    <button type="submit">Submit</button>
  </form>


  {% if names %}
      <h2>Submitted Names:</h2>
      <ul>
      {% for n in names %}
          <li class="submitted_names">
              {{ n.name }}
              <a href="{{ url_for('main.edit_name', name_id=n.id) }}">Edit</a>
              <a href="{{ url_for('main.delete_name', name_id=n.id) }}">Delete</a>
          </li>
      {% endfor %}
      </ul>

  {% endif %}

{% endblock %}