{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
  
  <!-- Form -->
  <form method="post" action="{{ url_for('main.home') }}">
    <input type="text" name="name" placeholder="Enter a name into the database..">
    <button type="submit" class="btn primary">Submit</button>
  </form>

  <!-- List -->
  {% if names %}
      <h2>Submitted Names:</h2>

      <ul class="name-list">
      {% for n in names %}
          <li class="submitted_names">
              {{ n.name }} | 
              
              <a href="{{ url_for('main.edit_name', name_id=n.id) }}" class="btn small primary">Edit</a>
              <a href="{{ url_for('main.delete_name', name_id=n.id) }}" class="btn small danger">Delete</a>
              <br><br>
              <small class="timestamp">
                  Added {{ n.created_at.strftime('%b %d, %Y %I:%M %p') }}
              </small>
          </li>
      {% endfor %}
      </ul>
      <div class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_for('main.home', page=pagination.prev_num) }}">← Prev</a>
        {% endif %}

        <span>
            Page {{ pagination.page }} of {{ pagination.pages }}
        </span>

        {% if pagination.has_next %}
            <a href="{{ url_for('main.home', page=pagination.next_num) }}">Next →</a>
        {% endif %}
      </div>
  {% endif %}

{% endblock %}